:root {
    --blue: #147EB9;
    --green: #008E80;
    --yellow: #EEE8A9;
    --navy: #002757;
  }
  @font-face {
    font-family: 'rubik';
    src: local('rubik'), url(Rubik-Regular.ttf) format('opentype');
  }
  h1 {
    vertical-align: middle;
    color: var(--navy);
    font-size: 48px;
  }
  html {
    background: #E6F4F1;
    font-family: "rubik";
    width: 100%;
    min-width: 498px;
    color: var(--navy);
  }
  body {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .outer-border {
    border-top: solid 18px var(--blue);
  }
  .inner-border {
    border-top: solid 10px var(--green);
  }
  #inside-top {
    margin-top: 8px;
  }
  #inside-bottom {
    margin-bottom: 8px;
  }
  nav a {
    text-decoration: none;
    color: var(--green);
    margin: 0 20px;
    font-size: 18px;
  }
  nav {
    padding: 8px 6px;
    width: 100%;
    background: var(--yellow);
    z-index: 1;
  }
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: none;
    top: 0;
    left: 0;
    padding: 0 20px;
  }
  nav a:hover {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5rem;
  }
  #page-title {
    text-align: center;
  }
  .single-container {
    margin: 10px;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .thumbnail {
    max-height: 280px;
    width: 100%;
    margin: auto;
  }
  .project-name, h2 {
    font-weight: bold;
    text-align: center;
  }
  .section-title {
    background: var(--yellow);
    padding: 10px;
  }
  .category {  
    max-width: 1920px;
  }